.loading-container {
    display: flex;
    justify-content: space-between;
    width: 60px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #6998f1;
    border-radius: 50%;
    animation: bounce 1.2s infinite;
  }
  
  #dot2 {
    animation-delay: 0.2s;
  }
  
  #dot3 {
    animation-delay: 0.5s;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .centerDots {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

.smallSpinner {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #c9dbfc;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}