
.formFields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    row-gap: 0.8rem;
}

.submitButton {
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #a9c4f9;
}

