.sideBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    background-color: #eff4fe;
    height: 85vh;
    margin-right: 2%;
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
}

.labelsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    row-gap: 2%;
}

.cinemaLabel {
    background-color: #dde7fc;
    padding: 0 5% 1% 5%;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
    outline: none;
}

.cinemaLabel:hover {
    background-color: #c5d1f5;
}

.cinemaLabel:active {
    background-color: #b0bdf0;
}

.cinemaLabel p {
    color: #3f3f3f;
}

.backButton {
    cursor: pointer;
    background-color: #c3d5fa;
    padding: 1% 5% 1% 5%;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

.backButton:hover {
    background-color: #99bbf7;
}

.backButton:active {
    background-color: #6998f1;
}

.backButton p {
    color: #3f3f3f;
}

.moreInformationButton{
    cursor: pointer;
    background-color: #6881ec;
    padding: 2% 5% 2% 5%;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
    outline: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.moreInformationButton:hover {
    background-color: #4c5cdf;
}

.moreInformationButton:active {
    background-color: #3d49c5;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 2%;
    column-gap: 3%;
}

.selectedCinema {
    display: flex;
    flex-direction: column;
}

.selectedCinema h4 {
    margin-bottom: 2%;
}

.moviePicture {
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    align-self: center;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

.spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }