.sideBarContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 70%;
    background-color: #eff4fe;
    height: 85vh;
    margin-right: 2%;
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
}

.labelsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    row-gap: 2%;
}

.cinemaLabel {
    background-color: #dde7fc;
    padding: 0 5% 1% 5%;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
    outline: none;
}

.cinemaLabel:hover {
    background-color: #c5d1f5;
}

.cinemaLabel:active {
    background-color: #b0bdf0;
}

.cinemaLabel p {
    color: #3f3f3f;
}