.sideBarContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    background-color: #eff4fe;
    height: 90vh;
    margin-right: 2%;
    border-radius: 10px;
    padding: 1% 1% 1% 1%;
}