.functionsLayout {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #c9dbfc;
    font-family: 'Cabin', sans-serif;
    flex-direction: row;
    justify-content: space-around;
}

.movieInformation {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    /* margin-top: 2.75rem; */
    margin-left: 5%;
    width: 30%;
    position: -webkit-sticky;
    position: sticky;
}

.movieTitle {
    font-size: 5rem;
}


.frontPageMovie {
    width: 100%;
    max-width: 25rem;
    border-radius: 0.375rem;
}

.otherInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 60%;
    position: relative;
    background-color: #c9dbfc;
    margin-right: 5%;
}

.functionsInformation {
    display: flex;
    flex-direction: column;
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding-top: 5rem;
    height: 80vh;
    margin-left: 10%;
}

.cinemaInformation{
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
}

.daysContainer {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
}

.day {
    cursor: pointer;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
}
  
.day:not(.selected):hover {
    color:#192152
}
  
.day.selectedText{
    color: #2437a9;
}

.function{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 1%;
}

.hour{
    font-size: 1.25rem;
    line-height: 1.75rem;
}


.buyButton {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #eff4fe;
    color: rgb(0 0 0);
    border-radius: 1.5rem; /* 24px */
    border-width: 2px;
    border-color: rgb(0 0 0);
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: 600;
}

.buyButton:hover {
    background-color: #0056b3;
}


.backButton {
    background-color: #eff4fe;
    color: rgb(0 0 0);
    border-radius: 1.5rem; /* 24px */
    border-width: 2px;
    border-color: rgb(0 0 0);
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 5%;
    font-family: 'Heebo', sans-serif;
    width: 20%;
}