.functionsLayout {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: #c9dbfc;
    font-family: 'Cabin', sans-serif;
    flex-direction: row;
    justify-content: space-around;
}

.movieInformation {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    align-items: center;
    margin-top: 2%;
}

.movieInformation h1 {
    font-weight: 600;
}

.frontPageMovie {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.otherInformation {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80%;
    padding: 1% 3% 2% 3%;
    border-radius: 5px;
    justify-content: flex-start;
    margin-top: 1%;
}

.otherInformation h1 {
    font-size: 3rem;
    font-weight: 600;
    padding: 1% 0 1% 0;
    align-self: center;
}

.functionsInformation {
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.tableContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
}

.daysContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #97bcf9;
}

.functionsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2% 0 3% 0;
    row-gap: 0.5rem;
    background-color: #97bcf9;

}

.day {
    cursor: pointer;
    padding: 1% 2% 1% 2%;
    font-size: 1.5rem;
    text-align: center;
    transition: color 0.2s ease;
    margin: 0 2% 0 2%;
}
  
.day:not(.selected):hover {
    color:#2d55e3
}
  
.day.selectedText{
    color: white;
    font-weight: bold;
}

.function{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 2% 1% 5%;
    background-color: #f0f5fe;
    border-radius: 15px;
    margin: 0 2% 0 2%;
}


.hour{
    font-size: 1.5rem;
    line-height: 1.75rem;
}


.buyButton {
    padding: 0 0.8rem 0 0.8rem;
    border: 2px solid #2441d1;
    width: 10vw;
    background-color: white;
    color: #2441d1;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.buyButton:hover {
    background-color: #dce7fd;
}

.buyButton:active {
    background-color: #c1d5fc;
}


.backButton {
    background-color: #eff4fe;
    border-radius: 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Heebo', sans-serif;
    width: 15%;
    border: none;
    align-self: flex-start;
    font-weight: bold;
    padding: 1% 2% 1% 2%;
    align-self: center;
}

.backButton:hover {
    background-color: #dce7fd;
}

.backButton:active {
    background-color: #c1d5fc;
}