
.elementsContainers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eff4fe;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 50%;
    height: 80vh;
    margin-top: 3%;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    overflow: auto;
}

.landingLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #c9dbfc;
}

h1 {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    font-size: 4rem;
}

@media (max-width: 768px) and (min-width: 320px) {
    .elementsContainers {
        width: 90%;
        height: 70vh;
        transition: all 0.3s ease-in-out;
        overflow: auto;
    }
}