.nearbyLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #c9dbfc;
}

.mapContainer {
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 90%;
    height: 90%;
    margin-top: 1%;
    border-radius: 10px;
    background-color: #eff4fe;
}