.nearbyLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #c9dbfc;
    column-gap: 4%;
}

.notFound {
    display: flex;
    background-color: #eff4fe;
    padding: 1% 3% 1% 2%;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notFound h2 {
    font-size: 2.5rem;
}

.notFound p {
    font-size: 1.5rem;
}